.program {
    width: 300px;
    height: 450px;
    border: 1px solid #95A0A7;
    padding: 10px 13px;
    background-color: gainsboro;
}

.program img {
    width: 100%;
    margin: auto;
    height: 286px;
    border-radius: 8px;
}

.btn-add {
    width: 100%;
    margin: auto;
    background-color: cadetblue;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .program {
        width: 280px;
        height: 450px;
        padding: 10px 10px;
        background-color: gainsboro;
    }
}

@media screen and (max-width: 480px) {

    .program {
        width: 250px;
        height: 400px;
        padding: 5px 5px;
    }

    .program img {
        width: 100%;
        margin: auto;
        height: 200px;
        border-radius: 8px;
    }

    .btn-add {
        padding: 0px;
    }

    .lang-type {
        padding: 0px 10px;
    }
}